In [1]:
library(tidyverse)
library(GGally)
library(infer)
library(gridExtra)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

In [2]:
forestfires_data <- read.csv("https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv")

head(forestfires_data)

  X Y month day FFMC DMC  DC    ISI  temp RH wind rain area
1 7 5 mar   fri 86.2 26.2  94.3  5.1  8.2 51 6.7  0.0  0
2 7 4 oct   tue 90.6 35.4 669.1  6.7 18.0 33 0.9  0.0  0
3 7 4 oct   sat 90.6 43.7 686.9  6.7 14.6 33 1.3  0.0  0
4 8 6 mar   fri 91.7 33.3  77.5  9.0  8.3 97 4.0  0.2  0
5 8 6 mar   sun 89.3 51.3 102.2  9.6 11.4 99 1.8  0.0  0
6 8 6 aug   sun 92.3 85.3 488.0 14.7 22.2 29 5.4  0.0  0

In [1]:
#test